<footer class="footer">
    <div class="mailing">
        <div class="container">
            <div class="mailing__content">
                <div class="col">
                    <div class="mailing__wrapper">
                        <div class="mailing__inner">
                            <img class="mailing__img" src="../images/sprite.svg#mail" width="80" height="80" alt="mailing">
                        </div>
                        <div class="mailing__inner">
                            <div class="h4">Розсилка</div>
                            <div class="p p_mailing">Підписатися на новини, акції, знижки</div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <form action="#" class="mailing__form">
                        <button class="btn btn_sm open-pop-up" data-open-popup="thank2" type="submit">ПІДПИСАТИСЯ</button>
                        <label class="input input_mailing">
                            <span class="input__wrapper">
                                <input type="text" class="input__field" name="email">
                                <span class="input__label">Email*</span>
                            </span>
                            <span class="input__error"></span>
                        </label>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="footer__wrapper" id="contacts">
            <div class="footer__row">
                <a href="index.html">
                    <img src="../images/logo.svg" alt="transitbus" class="footer__logo" height="50">
                </a>
                <button type="button" class="footer__btn-write open-pop-up" data-open-popup="feetback">
                    ЗАМОВИТИ ДЗВІНОК
                </button>
            </div>
            <div class="footer__line"></div>
            <div class="footer__row">
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="tel:+380680000000" class="footer__link" >+38 (068) 00-00-000</a>
                    </li>
                    <li class="footer__item">
                        <a href="tel:+380680000000" class="footer__link" >+38 (068) 00-00-000</a>
                    </li>
                </ul>
                <a href="mailto:exemple@gmail.com" class="footer__link footer__link_email">exemple@gmail.com</a>
            </div>
            <div class="footer__line"></div>
            <div class="footer__row">
                <ul class="footer__list footer__list_politics">
                    <li class="footer__item">
                        <a href="#" class="footer__link footer__link_politics">Політика конфіденційності</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link footer__link_politics">Політика використання Cookie</a>
                    </li>
                </ul>
            </div>
            <div class="footer__line"></div>
            <div class="footer__row">
                <div class="footer__label">© TRANZITBUS | 2023</div>
            </div>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="js/main.min.js"></script>
<script src="../plugins/datepicker-uk.js"></script>
</body>

</html>