<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <div class="header__inner">
                <a href="index.html">
                    <img src="images/logo.svg" alt="transitbus logo" class="header__logo" width="232" height="50">
                </a>
            </div>
            <div class="header__inner">
                <div class="lang">
                    <a href="#" class="lang__link active">UA</a>
                    <a href="#" class="lang__link">RU</a>
                    <a href="#" class="lang__link">EN</a>
                </div>
                <nav class="nav">
                    <button class="nav__close"></button>
                    <ul class="nav__list">
                        <li class="nav__item"><a href="#contacts" class="h4 nav__link smooth-scroll">КОНТАКТИ</a></li>
                        <li class="nav__item"><a href="news.html" class="h4 nav__link">НОВИНИ</a></li>
                        <li class="nav__item"><a href="index.html#about-us" class="h4 nav__link smooth-scroll">ПРО НАС</a></li>
                    </ul>
                </nav>
                <button class="burger "><span></span><span></span><span></span></button>
            </div>
        </div>
    </div>
</header>