<div class="pop-up" id="feetback">
    <div class="pop-up__bg close-pop-up"></div>
    <div class="pop-up__card">
        <div class="pop-up__content">
            <button class="pop-up__close close-pop-up"></button>
            <div class="h4 h4_yellow">Заповніть форму!</div>
            <div class="line line_clear line_pop-up"></div>
            <div class="p">Наші оператори зв’яжуться з вами</div>
            <div class="pop-up__wrapper">
                <div class="pop-up__inner">
                    <form action="#" class="form form_pop-up">
                        <div class="form__inner">
                            <label class="input">
                                <span class="input__wrapper">
                                    <input type="text" class="input__field">
                                    <span class="input__label">Імя</span>
                                </span>
                                <span class="input__error"></span>
                            </label>
                            <label class="input">
                                <span class="input__wrapper">
                                    <input type="text" class="input__field">
                                    <span class="input__label">Телефон*</span>
                                </span>
                                <span class="input__error"></span>
                            </label>
                            <label class="input">
                                <span class="input__wrapper">
                                    <input type="email" class="input__field input-phone">
                                    <span class="input__label">Email</span>
                                </span>
                                <span class="input__error"></span>
                            </label>
                            <label class="input">
                                <span class="input__wrapper">
                                    <textarea class="input__field input__field_textarea" placeholder="Текст повідомлення"></textarea>
                                </span>
                                <span class="input__error"></span>
                            </label>
                        </div>
                        <button class="btn btn_big open-pop-up" type="submit" data-open-popup="thank2">НАДІСЛАТИ</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pop-up" id="thank1">
    <div class="pop-up__bg close-pop-up"></div>
    <div class="pop-up__card pop-up__card_thank">
        <div class="pop-up__content">
            <button class="pop-up__close close-pop-up"></button>
            <div class="h4 h4_yellow">ДЯКУЄМО!</div>
            <div class="line line_clear line_pop-up"></div>
            <div class="p">Лист надіслано. Наші оператори скоро зв'яжуться з вами.</div>
        </div>
    </div>
</div>
<div class="pop-up" id="thank2">
    <div class="pop-up__bg close-pop-up"></div>
    <div class="pop-up__card pop-up__card_thank">
        <div class="pop-up__content">
            <button class="pop-up__close close-pop-up"></button>
            <div class="h4 h4_yellow">ДЯКУЄМО!</div>
            <div class="line line_clear line_pop-up"></div>
            <div class="p">Тепер ви будете отримувати розсилку.</div>
        </div>
    </div>
</div>